header {
  padding: 20px;
}


.add-contact .form-group .pw-text-input {
  margin-bottom: 25px;
}


.pw-button .glyphicon {
  padding: 10px;
  border: none;
  font-size: 20px;
  color: rgba(0,0,0,0.4);
}

.pw-button .glyphicon:hover {
  border-radius: 100%;
  color: rgba(0,0,0,0.7);
}

.pw-button .glyphicon:active {
  outline: 0;
  color: rgb(0,0,0);
}


.contact-tile {
  display: flex;
  flex-flow: row;
}

.contact-icon, .contact-info {
  flex: 0 1 auto;
  align-self: center;
}

.contact-icon img {
  min-height: 40px;
  width: auto;
  border-radius: 100%;
}

.contact-info {
  padding-left: 10px;
}


.pw-table th {
  font-size: 1.2em;
}


