<div class="pw-table table-responsive">
  <table class="table">
    <thead class="table-labels">
      <tr>
        <th ng-repeat="label in table.layout">{{ label.label }}</th>
      </tr>
    </thead>
    <tbody class="table-content">
      <tr ng-repeat="row in table.data" ng-init="rowNum = $index">
        <td ng-repeat="col in ::table.layout" ng-init="colNum = $index">
          <div ng-if="table.layout[colNum].type === 'directive'">
            <pw-assign type="{{ table.layout[colNum].dirName }}" args="table.layout[colNum].dirArgs" data="row"></pw>
          </div>
          <div ng-if="table.layout[colNum].type === 'text'">
            <p class="table-cell-text">{{ row[table.layout[colNum].key] }}</p>
          </div>
          <div ng-if="table.layout[colNum].type === 'button'">
            <button ng-class="table.layout[colNum].class" ng-click="table.layout[colNum].cb()">{{ row[table.layout[colNum].label] }}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
